# requirements.txt Core
requests
python-dotenv

# AI & TTS
edge-tts

# Video
moviepy==1.0.3
Pillow
numpy

# YouTube API
google-api-python-client
google-auth-oauthlib
google-auth-httplib2

# Utils
python-slugify
